<div id="blog" class="row">
	<div class="medium-8 columns">
		<h1>Blogs</h1>
		<% @blogs.each do |b| %>
			<h2><%= link_to b.title, b %></h2>
			<p><%= simple_format(b.body) %></p>
			
		<% end %>
	</div>
	<div class="medium-4 columns">
		<%= render "sidebar" %>
	</div>
</div>