<%= form_for [@title, @entry] do |f| %>
	<%= f.text_area :entry, placeholder: "Your entry goes here..."  %>
	<%= f.file_field :image, multiple: true, name: 'images[]', :id =>"entry-image" %>
  <table role="presentation" class="table table-striped">
    <tbody id="files" class="files">
    </tbody>
  </table>

	<div class="action">
		<%= f.submit 'Save Entry', class: "button" %>
	</div>
	
<% end %>
<script type="text/javascript">
  showImages();
</script>