<div class="search hide white box-shadow clearfix" style="margin-bottom:1rem;">
	<div id="search" class="row">
		<div class="medium-4 columns">
			<p> Search in <span id="search-tag"></span><i class="fa fa-close"></i></p>
			<input name="query" class="form-control" placeholder="Start typing.."></input>
		</div>
		<div class="medium-4 columns">
			<p> Search dates: </p>
			<div class="input-daterange input-group" id="datepicker">
		    <input type="text" class="input-sm form-control" name="start" placeholder="Beginning Date:"/>
			</div>
		</div>
		<div class="medium-4 columns">
			<p> End Date: </p>
		    <input type="text" class="input-sm form-control" name="finish" value="<%=  Date.current.strftime("%d %B %Y") %>"/>
		</div>
	</div>
</div>

<script>

	var tagName = $("#tag-list a.active").data("tagname");
	if (tagName == undefined){
		tagName = "all entries";
		$("#search .fa-close").hide();
	}

	function sendData()
  	{
  		var tag = $("#tag-list a.active").data("tagname");

  		if ($("#search-tag").text() == "all entries"){
  			tag = undefined;
  		}


  		var query = $('.search input[name=query]').val();
  		var data = {
				query: query,
				start: $("input[name=start]").val(),
				finish: $("input[name=finish]").val()
			}
		if (tag != undefined){
			data["tag"] = tag;
		}
		jQuery.ajax({
			url: window.location.pathname,
			data: data,
			dataType: "script"
		});  		
  	}

	$("#search .fa-close").click(function(){
		$("#search .fa-close").hide();
		$("#search-tag").html("all entries");
		sendData();
	})

  	$("#search-tag").html(tagName);

	var today = new Date();

	$('#search .input-daterange').datepicker({
		format: "dd MM yyyy",
    	autoclose: true,
    	startDate: new Date(today.setMonth(today.getMonth() - 12)),
    	endDate: new Date()        
  	});


	$('.search input[name=query]').keyup(function(){
		sendData();
	});
 
  
  	var lastJQueryTS = 0 ;
  	$('#search .input-daterange').datepicker().on("changeDate", function(event){
  		var query = $(this).val();
    	var send = true;
    	if (typeof(event) == 'object'){
    		if (event.timeStamp - lastJQueryTS < 300){
        		send = false;
      		}
     		lastJQueryTS = event.timeStamp;
    	}
    	if (send){
    		sendData();
    	}
  	}); 

</script>