<div id="user_nav">
	<ul>
		<li class="active"><%= link_to 'Edit Profile', edit_user_path(@user, form: "profile") %></li>
        <li class="active"><%= link_to 'Update Password', edit_user_path(@user, form: "password") %></li>
    </ul>
</div>