<div id="user_nav">
	<ul>
		<li class="active"><%= link_to '<i class="fa fa-user"></i>&nbsp; Edit Profile'.html_safe, edit_user_path(current_user, form: "profile") %></li>
        <li class="active"><%= link_to '<i class="fa fa-tag"></i>&nbsp; Edit Labels'.html_safe, tags_path %></li>
         <li class="active"><%= link_to '<i class="fa fa-key"></i>&nbsp; Update Password'.html_safe, edit_user_path(current_user, form: "password") %></li>
    </ul>
</div>