<div class="row">
	<div class="medium-6 columns">
		<%= render 'devise/registrations/edit' %>
	</div>
	<div class="medium-6 columns">
		<%= render 'devise/passwords/edit' %>
	</div>
</div>
<div style="margin-top:1rem;">
	<%= render 'devise/registrations/delete' %>
</div>