<div id="login_toggle_2">
	<%= render 'devise/sessions/popup_form' %>
	<%= link_to "Forgot your password?", '#', id: "login_reset_toggle_3" %>
</div>
<div id="reset_toggle_2" class="hide">
	<%= render 'devise/passwords/popup_form' %>
	<%= link_to "Login", '#', id: "login_reset_toggle_4" %>
</div>