<body id="home">
	<div id="wrapper">
		<div class="header">
			 	<h1>Memree</h1>
			 </div>
		<div class="content">
			<p>Ready to create memrees? We'll be launching in a few short weeks, Enter your info below for an invite when it launches.</p> 

			<p><%= link_to "Register", new_user_path %></p>
		</div>
		<div class="footer">
			<p>All rights reserved.</p> 
			<ul class="social">
			<ul>
			 	<li id="facebook"><a href="http://facebook.com/" target="_blank"></a></li><li id="twitter"><a href="http://twitter.com/" target="_blank"></a></li><li id="instagram"><a href="http://instagram.com/" target="_blank"></a></li>
			</ul>
		</div>
	</div>
</body>