<body id="home">
	<div id="wrapper">
		<div class="header">
			 	<h1>MemryBook</h1>
			 </div>
		<div class="content">
			<p>Because we <i>want</i> to remember.</p> 
			
			<!-- <input type="button" id="" value="Get Started" class="button round" /> -->
			<p><%= link_to_modal "Get Started", "#registration-form", class: "button round" %></p>
		</div>
		<div class="footer">
			<p>All rights reserved.</p> 
			<ul class="social">
			<ul>
			 	<li id="facebook"><a href="http://facebook.com/" target="_blank"></a></li><li id="twitter"><a href="http://twitter.com/" target="_blank"></a></li><li id="instagram"><a href="http://instagram.com/" target="_blank"></a></li>
			</ul>
		</div>
	</div>
</body>

<div id="registration-form" style="display:none;">
 <div class="modal-header">
 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="float:right;">×</button>
    <h3 id="myModalLabel">Registration Form</h3>
  </div>
  <div class="modal-body">
		<%= render :partial =>"users/form"%>
	</div>
	<div class='modal-footer'>
    <button type="button" class="btn" id="form_back_first">Back</button>
    <button type="button" class="btn" id="form_back_second">Back</button>
	  <button type="button" class="btn" id="form_next_first">Next</button>
    <button type="button" class="btn" id="form_next_second">Next</button>
<!--     <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="cancel-button">Cancel</button> -->
<!--     <a href="#" role="button" class="btn" data-dismiss="modal" data-toggle="modal">Cancel</a> -->
  </div>		
</div>





<script type="text/javascript">

  $(document).ready(function(){
    <% if @user.errors.present? %>
      $('a.round').trigger('click');
    <% end %>
    $("#new_user").validationEngine();
    $('#form_submit').hide();
    $("#form_second").hide();
    $("#form_back_first").hide();
    $("#form_back_second").hide();
    $('#form_next_second').hide();

    $('#form_next_first').on('click', function(){
      if($("#new_user").validationEngine('validate')){
        $("#form_first").hide();
        $("#form_second").show();
        $("#form_back_first").show();
        $('#form_next_first').hide();
        $('#form_next_second').show();
      }
    });
    
    $('#form_next_second').on('click', function(){
      $('#form_third').show();
      $('#form_next_second').hide();
      $("#form_back_first").hide();
      $('#form_submit').show();
      $('#form_back_second').show();
      $('#cancel-button').hide();
    });

    $("#form_back_first").on('click', function(){
      $("#form_second").hide();
      $("#form_first").show();
      $("#form_back_first").hide();
      $('#form_next_second').hide();
      $('#form_next_first').show();
      
    });

    $('#form_back_second').on('click', function(){
      $('#form_third').hide();
      $('#form_back_second').hide();
      $("#form_back_first").show();
      $('#form_next_second').show();
      $('#form_submit').hide();
      $('#cancel-button').show();
    });

	});

</script>

