<body id="home">
	<div id="wrapper">
		<div class="header">
			 	<h1>MemryBook</h1>
			 </div>
		<div class="content">
			<p>Because we <i>want</i> to remember.</p> 

			<p><%= link_to "Get Started", new_user_path, class: "button round" %></p>
		</div>
		<div class="footer">
			<p>All rights reserved.</p> 
			<ul class="social">
			<ul>
			 	<li id="facebook"><a href="http://facebook.com/" target="_blank"></a></li><li id="twitter"><a href="http://twitter.com/" target="_blank"></a></li><li id="instagram"><a href="http://instagram.com/" target="_blank"></a></li>
			</ul>
		</div>
	</div>
</body>