<body id="home">
	<div id="wrapper">
		<div class="header">
			 	<h1>MemryBook</h1>
			 </div>
		<div class="content">
			<p>Because we <i>want</i> to remember.</p> 
			
			<!-- <input type="button" id="" value="Get Started" class="button round" /> -->
			<p><%= link_to_modal "Get Started", "#registration-form", class: "button round" %></p>
		</div>
		<div class="footer">
			<p>All rights reserved.</p> 
			<ul class="social">
			<ul>
			 	<li id="facebook"><a href="http://facebook.com/" target="_blank"></a></li><li id="twitter"><a href="http://twitter.com/" target="_blank"></a></li><li id="instagram"><a href="http://instagram.com/" target="_blank"></a></li>
			</ul>
		</div>
	</div>
</body>

<div id="registration-form" style="display:none;">
 <div class="modal-header">
 	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="float:right;">×</button>
    <h3 id="myModalLabel">Registration Form</h3>
  </div>
  <div class="modal-body">
		<%= render :partial =>"users/form"%>
	</div>
	<div class='modal-footer'>
	  <button type="button" data-dismiss="modal" class="btn" id="form_next">Next</button>
    <a href="#" role="button" class="btn" data-dismiss="modal" data-toggle="modal">Cancel</a>
  </div>		
</div>





<script type="text/javascript">

  $(function(){
    $("form#new_user").validationEngine(); 
	});

	$("#registration-form").on("click", "#form_next", function(event) {
	  $("#form_first").addClass('hide');
	  $("#form_second").removeClass('hide');
	});


</script>

