<%= form_for @tag, remote: true do |f| %>
	<div class="row">
		<div class="small-9 columns">
			<p><%= f.text_field :name, placeholder: "Enter new Journals (separated by commas)" %></p>
		</div>
		<div class="action small-3 columns">
			<%= f.submit 'Update Journal', class: "button sml", remote: true %>
		</div>
	</div>
<% end %>
