<ul class="clearfix">
	<li id="tag_<%= @tag.id %>">
		<h4><%= @tag.name %></h4>
		<p><%= link_to "Edit Journal", edit_tag_path(@tag), remote: true %> <%= link_to 'Delete', tag_path(@tag), method: :delete, data: {confirm: 'Are you sure?' }, remote: true %></p>
	</li>
</ul>