<div class="row">
	<div class="medium-4 columns">

	 		<%= render 'users/user_sidebar' %>
	 		
	</div>
	<div class="medium-8 columns white box-shadow">  
		<div id="labels"> 
			<div class="row">
				<div class="small-8 columns">
					<h3>My MemryBook</h3>
				</div>
				<div class="small-4 columns">
					<div id="new_label">
						<%= link_to "New Label", new_tag_path, remote: true, class: "button expand" %>
					</div>
				</div>
			</div>
			
			<div id="label_added"></div>
			<div id="sub-menu">
				<%= nested_tags @tags %>
			</div>
		</div>
	</div>
</div> 

