<!-- Partial for tags from sidebar menu -->

<div class="nested-tags-right">
	<% tags.each do |tag| %>
		<li class="<%= 'active' if request.path == tag_path(tag.name) %>">
			<%= link_to (tag.name + "  <i class='fa fa-caret-down'></i>").html_safe, tag_path(tag.name), remote: true %>
		</li>
	<% end %>
</div>

