<div id="title_added">
	<%= render @titles %>
</div>	
<div class="scroll-pagination">
	<%= will_paginate @titles %>
</div>
<div class="image-loader">
    	<center><i class="fa fa-refresh fa-spin"></i></center>
</div>