/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
  *= require validationEngine.jquery
 *= require foundation_and_overrides
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require lightbox
 *= require font-awesome

 */

/*.alert.flash.notice {
  position: fixed;
  background: gray;
  width: 25%;
  height: 10rem;
  text-align: center;
  z-index: 1;
  opacity: .9;
  bottom: 2rem;
  left: 2rem;
  padding-top: 4rem;
  color: white;
  border-radius: .3rem;
}
*/

.box-shadow {
    box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.15);
}

.white {
  background: #fff;
  padding: 1rem;
}

.pages {
  margin-top: 1rem;
}

