   $stationery  : #EBE5CD;
   $greendew    : #A9D5C6;
   $evendarker  : #241616;
   $sun         : #F2EAAB;
   $salmon      : #FD9781;
/*************************************

User Info

**************************************/

#titles .user_info {
  padding-top: 1rem;
}

#titles .avatar img {
  max-height: 5rem;
  float: right;
}

#titles .avatar a, #titles a.edit {
  text-align: left;
  color: #444;
  text-decoration: underline;
}

#titles .avatar p {
  text-align: left;
  margin: 1rem;
  font-size: .9rem;
}

.disable-pointer-events{
  pointer-events: none;
}


/*************************************

label Tags

**************************************/

#titles #label_titles {
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  text-align: right;
}

#titles #label_titles a {
  color: #444;
  display:block;
  list-style-type: none;
  padding: 3px 7px;
  border-radius: 3px;
}

#titles #label_titles ul {
  margin: 0;
}


#titles #label_titles a:focus { outline: none !important; }

#titles #label_titles li {
  list-style-type: none;
  border-radius: 3px;
    margin-bottom: .2rem;
}


#titles #label_titles a.opened .fa-caret-down{
  display: inline;
}

#titles #label_titles li.active {
  color: $salmon;
}

#titles #label_titles a.active{
  background: $salmon !important;
}

#titles #label_titles li.root:nth-child {
  background: #fff;
}

#tag-list > div > .root > a {
  background: #fff;
}



/*************************************

Search

**************************************/


#titles .fa-search:hover {

}

#search {
  margin-bottom: .5rem;
  width: 100%;
  padding-bottom: 0.5rem;
}

#search-tag {
  font-weight: bold;
}


.search {
  display: block;
}

#search p {
  text-align: left;
}

#search .form-control {
    display: block;
    width: 100%;
    height: 2rem;
    padding: .5rem 1rem;
    font-size: .9rem;
    line-height: 1.6rem;
    color: #444;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin: 0;

}

#search p {
  margin-bottom: 5px;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #EEE;
    border: 1px solid #CCC;
}

#search .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}


/*************************************

Entry Form

**************************************/

#titles #entry_title_date_2i {
  width: 42.6666%;
  margin-right: 1%;
  float: left;
  margin-bottom: 0;
}
#titles #entry_title_date_3i {
  width: 22.6666%;
  margin-right: 1%;
  float: left;
  margin-bottom: 0;
}

#titles #entry_title_date_1i {
	width: 32.6666%;
  margin-right: 0%;
  margin-bottom: 0;
}

#titles #new_date, #titles .new_date  {
  display: none;
  padding-right: 0;
  padding-left: 0;;
}

#titles a#change_date, #titles a.change_date {
  margin-top: -.5rem;
  color: #ccc;
  float: right;
  margin-right: .5rem;
  font-size: .9rem;
}

#titles label.right {
	padding-right: 5rem;
}

#titles .form {
  background: #fff;
  padding: .5rem 1rem;
  border-radius: .2rem;
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.15);
  margin: 1rem 0;
}

#titles ::-webkit-input-placeholder {
   color: #888;
}

#titles :-moz-placeholder { /* Firefox 18- */
   color: #888;
}

#titles ::-moz-placeholder {  /* Firefox 19+ */
   color: #888;
}

#titles :-ms-input-placeholder {
   color: #888;
}

#titles .click_to_upload {
  color: #ccc;
}

#titles .click_to_upload p {
  margin-bottom: 0;
  border: 1.5px dashed;
  padding: .4rem;
}

textarea#wysiwyg {
	background: #eee !important;
}

.bootstrap-tagsinput .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}

.bootstrap-tagsinput li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.bootstrap-tagsinput .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: $evendarker;
}

.bootstrap-tagsinput .dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  #fff-space: nowrap;
}


#titles .bootstrap-tagsinput{

}

#titles .bootstrap-tagsinput input {
  background: #fff;
  box-shadow: none;
  border: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.bootstrap-tagsinput .tag {
  color: #fff;
  font-size: 1.1rem;
  border-radius: .3rem;
  min-width: 15%;
  margin: .2rem 0.1rem .5rem 0.1rem;
  background: $evendarker;
  float: left;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
  float: right;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}



/*******************************

DROPZONE

*******************************/

.dropzone-custom {
  border: none !important;
  padding: 1rem !important;
  margin-bottom: .5rem;
}

.dropzone-custom .dz-preview.dz-image-preview {
  background: none !important;
}

.dropzone-custom .dz-message {
  background: #444 !important;
  color: #fff;
}

.dropzone-custom.dz-clickable .dz-message {
  cursor: pointer;
  padding: 5.8rem 0;
  margin: 0;
  font-size: 1.5rem;
}

.dz-started {
  border-bottom: 1px #ccc dashed !important;
}

.dropzone .dropzone * {
  box-sizing: border-box;
}

#home #image_click {
  cursor: pointer;
  float: left;
  color: #444;
}




/****************************

Entry Snippets

*****************************/

#titles .title {
  border-radius: .2rem;
  margin-bottom: 1rem;
}

#titles h3 {
  font-size: 1.2rem;
  margin-bottom: .1rem;
  display: inline;
}

#titles h5 a {
  color: #241616;
  border-radius: 3px;
}

#titles .tags ul {
  margin-left: 0;
  margin-bottom: 0;
}

#titles .tags li {
  background: $greendew ;
  width: 100%;
  margin-bottom: .5rem;
  padding: 0.2rem .5rem;
  list-style-type: none;
}

#titles h6 {
  margin-bottom: 0;
  margin-right: 1rem;
}

#titles .header {
}

#titles.tags {
  margin-left: -1rem;
}

#titles .title_entry {
}


#titles #wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 8rem;
}

#titles .shared_users img {
  width: 2.5rem;
  float: left;
  margin-right: .5rem;
}

#titles .shared_users .header {
  margin-top: -.5rem;
  margin-left: -.5rem;
}

#titles .shared_users h3 {
  font-size: 1.2rem;
  margin-bottom: -.2rem;
  display: inherit;
}

#titles .shared_users p {
  font-size: .8rem;
  margin-bottom: 0;
  color: #ccc;
}

#titles .delete-x {
  position: absolute;
  left: 1.5rem;
  bottom: 1rem;
  opacity: .5;
}

#titles .delete-x a {
  color: gray;
}

#titles .delete-x {
  display:none;
}

#titles .title:hover .delete-x {
  display: inherit;
}

#titles #entry_media {
  margin-bottom: -1rem;
  padding: 0;
  text-align: right;
}

#titles #entry_media i {
  color: gray;
  padding-left: .5rem;
}

#titles i.fa.fa-share-alt {
  color: #bbb;
}

.shared_entry .title {
  border-left: 7px solid #A9D5C6;
}

.shared_entry .delete-x {
  display: none !important;
}

/********************************

ENTRY IMAGES

********************************/

#titles .entry_image_thumbnails {
  float: left;
  width: 100%;
  height: 100%;
}

#titles .entry_image_thumbnails img {
  border-radius: 3px;
  position: relative;
}

#titles .slick-slide {
  transform: scale(.92);
  -webkit-transform: scale(.92);
  -moz-transform: scale(.92);
  -ms-transform: scale(.92);
}

#titles .slick-slide.slick-center {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

#titles i.fa.fa-external-link-square {
  position: absolute;
  z-index: 1000000;
  top: 2%;
  right: 1%;
  font-size: 2rem;
  color: gray;
  padding: .25rem;
}

#titles i.fa.fa-play-circle {
  position: absolute;
  top: 32%;
  left: 32%;
  font-size: 7rem;
  opacity: .75;
  background: #fff;
  line-height: 4.5rem;
  border-radius: 100%;
}

#titles .slick-slide i.fa.fa-external-link-square {
  display: none;
}

#titles .slick-slide.slick-center:hover i.fa.fa-external-link-square {
  display: inherit;
}

#titles .mfp-arrow-left:before, .mfp-arrow-right:before {
  border-right: none !important;
  border-left: none !important;
}


/**************************

Edit Entries

**************************/

#titles .edit_images {
  margin-bottom: 1rem;
}

#titles .image_remove {
  position: relative;
  display: inline-block;
  margin-right: -.25%;
  margin-left: -.3%;
  width: 25%;
}

#titles .image_remove img {
  object-fit: cover;
  width: 100%;
  height: 8rem;
}

#titles .image_remove span a {
  display: none
}

#titles .image_remove:hover span a {
  cursor: pointer;
  display: inherit;
  position: absolute;
  top: 24%;
  left: 25%;
  width: 50%;
}

#titles .image_remove span img {
  width: 100%;
  height: 100%;
}

/**************************

Entry Audio

**************************/

#titles .audio audio {
  width: 95%;
}

#titles .audio {
  width: 50%;
  text-align: center;
  float: left;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

#titles .audio span {
}

#titles i.fa.fa-external-link-square.playing {
  font-size: 1rem !important;
}

#titles div#playing {
  position: fixed;
  bottom: 8%;
  background: #444;
  opacity: .85;
  padding: 0 .25rem;
  text-align: center;
}

#titles div#playing span {
  color: white;
}

#titles div#playing {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 25%;
}

#titles div#playing audio {
  width: 100%;
}

#titles #playing i.fa.fa-times.stop {
  position: absolute;
  top: 0;
  right: 0;
  color: gray;
}



/**************************

Entry Validation

**************************/


#titles label.message {
  background: $evendarker;
  color: #fff;
  padding: .2rem;
  border-radius: 5%;
  margin-bottom: .5rem;
  margin-top: -.25rem;
}

/**************************

Entry Files

**************************/


#titles .application {
    width: 50%;
    float: left;
    padding: 1rem;
}

#titles .entry_application_thumbnails {
    /* border: 2px dashed #aaa; */
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: .5rem;
    background: #ccc;
}


/*************************************

Calendar

**************************************/

#titles .date {
  float: right;
  margin-right: -.5rem;
  margin-top: -.5rem;
  margin-bottom: .5rem;
}

#titles .calendar {
  padding: 1rem;
  background: #A9D5C6;
  border-radius: 100%;
  height: 4.5rem;
  width: 4.5rem;
  text-align: center;
}

#titles .calendar month {
  display: block;
  color: #000;
  line-height: 0;
  margin-top: -.15rem;
  text-transform: uppercase;
}

#titles .calendar day {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  line-height: 2.3rem;
  margin-bottom: -.5rem;
  margin-top: .25rem;
}

#titles .calendar year {
  color: black;
  line-height: 0rem;
}

/*************************************

Other

**************************************/

#titles .scroll-pagination{
  display: none;
}

#titles #success {
  display: none;
  position: fixed;
  background: #444;
  width: 25%;
  height: 6rem;
  text-align: center;
  z-index: 1;
  opacity: .9;
  bottom: 2rem;
  left: 2rem;
  padding-top: 2rem;
  color: #fff;
  border-radius: .3rem;
  font-size: 1.1rem;
}

.popup_title .header {
  border-bottom:1px solid #eee;
  margin-bottom:.7rem;
  color:#FD9781;
}

.popup_title .bootstrap-tagsinput .tag {
  color: #fff;
  font-size: 1.1rem;
  border-radius: .3rem;
  min-width: 15%;
  margin: .2rem 0.1rem .5rem 0.1rem;
  background: #241616;
  display: block;
  float: none;
}

.popup_title .bootstrap-tagsinput  input[type="text"] {
  width: 100% !important;
}

.modal-share-entry label {
  margin-bottom: 0px !important;
}
