   $stationery	: #EBE5CD;
   $greendew 	: #A9D5C6;
   $evendarker	: #241616;
   $sun 		: #F2EAAB;
   $salmon	 	: #FD9781;

 

/********************************

Journals Page

********************************/

#journals li {
    list-style: none;
    background-color: #fff;
    padding: 0 1rem;
    margin:.5rem 0;
}

#journals ul {
    margin: auto;
}

#journals #tag_submit {
	display: none;
}

.nested_tags {
  margin-left: 30px;
}

li .nested-tags-right{
	display: none
}

.expanded > .nested-tags-right{
	display: block;
}

.toggable i {
  float: right;
  margin-top: .35rem;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

a.toggable.active i {
  float: right;
  margin-top: .35rem;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


.nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags {
  margin-left: 0;
}