/*************************************

Sass

**************************************/

$stationery  : #EBE5CD;
$greendew    : #A9D5C6;
$evendarker  : #241616;
$sun         : #F2EAAB;
$salmon      : #FD9781;

/********************************

Labels Page

********************************/

#labels li {
    list-style: none;
    background-color: #fff;
    padding: 0 .5rem;
    margin:.5rem 0 0 0;
}

#labels ul {
    border: 2px solid #eee;
    margin-bottom: 0;
}

#labels .labels li p {
  float: right;
}

#labels #tag_submit {
	display: none;
}

.new_label form#new_tag  ul, .new_label form#new_tag li {
    border: none !important;
    margin-left: 0 !important;
}

#labels form#new_tag ul {
  border-left: 1px dashed #eee;
  margin-top: -2px;
  border-bottom: none;
  border-top: none;
}

#labels form#new_tag li {
  border: 2px solid #eee;
  margin: -2px -2px -2px 20px;
}

#labels input#tag_name, #labels input#name_field {
  border-bottom: 2px solid #eee !important;
}

.nested_tags {
  margin-left: 20px;
  margin-top: -2px;
  border-left: 1px dashed #eee;
}

div#sub-menu {
  margin-top: 1rem;
}


.nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags .nested_tags {
  margin-left: 0;
}

#labels .intro {
  margin-top: 1rem !important;
}

#labels .question {
  padding-top: .5rem;
}