#tag_mobile #labels #sub-menu li h4 {
  margin: 0;
  font-size: .9rem;
}

#tag_mobile .nested_tags {
  margin-left: 10px;
}

#tag_mobile ul.avatar figure {
  height: 30%;
  overflow: hidden;
  position: relative;
  width: 30%;
  margin: auto;
}