   $stationery  : #EBE5CD;
   $greendew    : #A9D5C6;
   $evendarker  : #241616;
   $sun         : #F2EAAB;
   $salmon      : #FD9781;
/*************************************

Titles#index and Entries#index 

**************************************/

.user_info {
  padding-top: 1rem;
}

#entries .avatar img, #titles .avatar img {
  max-height: 5rem;
  float: right;
}

#entries .avatar a, #titles .avatar a {
  text-align: left;
  color: #444;
  text-decoration: underline;
}

#entries .avatar p, #titles .avatar p {
  text-align: left;
  margin: 1rem;
  font-size: .9rem;
}

.scroll-pagination{
  display: none;
}

.date {
  float: right;
  margin-right: -.5rem;
  margin-top: -.5rem;  
  margin-bottom: .5rem;
}

.calendar {
  padding: 1rem;
  background: #A9D5C6;
  border-radius: 100%;
  height: 4.5rem;
  width: 4.5rem;
  text-align: center;
}

.calendar month {
  display: block;
  color: #000;
  line-height: 0;
  margin-top: -.15rem;
  text-transform: uppercase;
}

.calendar day {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  line-height: 2.3rem;
  margin-bottom: -.5rem;
  margin-top: .25rem;
}

.calendar year {
  color: black;
  line-height: 0rem;
}


/*************************************

Titles#index

**************************************/

#title_entries_attributes_0_entry_date_1i {  
  width: 32.6666%;
	margin-right: 1%;
	float: left; 
  margin-bottom: 0;
}

#title_entries_attributes_0_entry_date_2i, #entry_entry_date_2i {  
  width: 42.6666%;
  margin-right: 1%;
  float: left; 
  margin-bottom: 0;
}

#title_entries_attributes_0_entry_date_3i, #entry_entry_date_3i {  
  width: 22.6666%;
  margin-right: 1%;
  float: left; 
  margin-bottom: 0;
}

#title_entries_attributes_0_entry_date_1i, #entry_entry_date_1i {  
	width: 32.6666%;
  margin-right: 0%;
}

#new_date {
  display: none;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: -.5rem;
}

#current_date {
  float: right;
  margin: 0;
}

label.right {
	padding-right: 5rem; 
}

#titles .form {
  background: #fff;
  padding: .5rem 1rem;
  border-radius: .2rem;
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.15);
  margin: 1rem 0;
}

.form input[type="text"], .form input[type="password"], .form input[type="date"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="month"], .form input[type="week"], .form input[type="email"], .form input[type="number"], .form input[type="search"], .form input[type="tel"], .form input[type="time"], .form input[type="url"], .form input[type="color"], textarea {
  margin: 0 0 .2rem 0;
}

.bootstrap-tagsinput{
  width: 100%;
}

#titles #image_click, #entries #image_click {
  width: 80%;
  float: left;
}

#image_click:hover {
  cursor: pointer;
}


/****************************

Title/Entry Snippets

*****************************/

#titles .title {
  border-radius: .2rem;
  margin-bottom: 1rem;
}

#titles h3 {
  font-size: 1.2rem;
  margin-bottom: .1rem;
  display: inline;
}

#titles h5 a {
  color: #241616;
  border-radius: 3px;
}

#titles .footer ul {
  margin-left: 0;
  margin-bottom: 0;
}

#titles .footer li {
  background: $greendew ;
  width: 100%;
  margin-bottom: .5rem;  
  padding: 0.2rem .5rem;  
  list-style-type: none;
}

#titles h6 {
  margin-bottom: 0;
  margin-right: 1rem;
}

#titles .header {
}

#titles .content {  
  min-height: 8rem;
}


#titles .hide-for-small-only .footer {
  margin-left: -1rem;
}

#titles .show-for-small-only a {
  font-size: .9rem;
}

#titles .title_entry {
}


#titles #wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 8rem;
}

#titles .title_entry img {
  opacity: .15;
  width: 100%;
}

#titles #entry_image_thumbnails {
  float: left;
  width: 100%;
  height: 100%;
}

#titles #entry_image_thumbnails img {
  margin-right: -4px;
  width: 33%;
  border-radius: 3px;
}

#shared_users img {
  border-radius: 100%;
  width: 33%;
  float: left;
}

.delete-x {
  position: absolute;
  bottom: 5%;
  right: 1%;
  opacity: .5;
  line-height: 1rem;
  font-size: 2rem;
}

.delete-x a {
  color: red;
}

.delete-x {
  display:none;
}

#titles .title:hover .delete-x {
  display: inherit;
}


/**************************

CALENDAR

**************************/



// .calendar {
//   background: darkgray;
//   width: 3.2rem;
//   height: 3rem;
//   padding: .5rem .7rem 0rem 0rem;
//   color: #ffffff;
//   font-size: 1.5rem;
//   font-weight: 900;
//   text-align: center;
//   line-height: 80%;
//   font-family: 'Open sans', sans-serif;
// }

// .calendar month {
//   font-size: .8rem;
//   text-transform: uppercase;
//   font-weight: 400;
//   display: block;
//   color: #ffffff;
// }

// .calendar year {
//   -webkit-transform: rotate(270deg);
//   -moz-transform: rotate(270deg);
//   -o-transform: rotate(270deg);
//   -ms-transform: rotate(270deg);
//   transform: rotate(270deg);
//   position: absolute;
//   top: 1.4rem;
//   font-size: 1.05rem;
//   font-weight: normal;
//   background: #777;
//   width: 2.95rem;
//   right: .3rem;
// }



// .calendar {
//   margin-bottom: 2.25rem;
//   margin-left: .5rem;
//   float: left;
//   width: 3.6rem;
//   height: 2.7rem;
//   background: #ededef;
//   background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
//   background: -moz-linear-gradient(top, #ededef, #ccc);
//   font: bold 1.5rem/3rem Arial Black, Arial, Helvetica, sans-serif;
//   text-align: center;
//   color: #000;
//   text-shadow: #fff 0 1px 0;
//   -moz-border-radius: 3px;
//   -webkit-border-radius: 3px;
//   border-radius: 3px;
//   position: relative;
//   -moz-box-shadow: 0 2px 2px #888;
//   -webkit-box-shadow: 0 2px 2px #888;
//   box-shadow: 0 2px 2px #888;
// }

// .calendar em {
//   display: block;
//   font: normal bold .9rem/1.6rem Arial, Helvetica, sans-serif;
//   color: #fff;
//   text-shadow: #00365a 0 -1px 0;
//   background: #04599a;
//   background: -webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a));
//   background: -moz-linear-gradient(top, #04599a, #00365a);
//   -moz-border-radius-bottomright: 3px;
//   -webkit-border-bottom-right-radius: 3px;
//   border-bottom-right-radius: 3px;
//   -moz-border-radius-bottomleft: 3px;
//   -webkit-border-bottom-left-radius: 3px;
//   border-bottom-left-radius: 3px;
//   border-top: .2rem solid #00365a;
//   margin-top: -.2rem;
// }


// .calendar:before, .calendar:after {
//   content: '';
//   float: left;
//   position: absolute;
//   top: .3rem;
//   width: .5rem;
//   height: .5rem;
//   background: #111;
//   z-index: 1;
//   -moz-border-radius: 10px;
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
//   -moz-box-shadow: 0 1px 1px #fff;
//   -webkit-box-shadow: 0 1px 1px #fff;
//   box-shadow: 0 1px 1px #fff;
// }

// .calendar:before {
//   left: 0.7rem;
// }

// .calendar:after {
//   right: 0.65rem;
// }

// .calendar em:before, .calendar em:after {
//   content: '';
//   float: left;
//   position: absolute;
//   top: -.3rem;
//   width: 0.3rem;
//   height: .85rem;
//   background: #dadada;
//   background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa));
//   background: -moz-linear-gradient(top, #f1f1f1, #aaa);
//   z-index: 2;
//   -moz-border-radius: 2px;
//   -webkit-border-radius: 2px;
//   border-radius: 2px;
// }

// .calendar em:before {
//   left: 0.8rem;
// }

// .calendar em:after {
//   right: 0.75rem;
// }
