<p>Hi <%= @resource.first_name %>,</p>

<p>Looks like you requested a link to change your password. Just click the link below and you can change it now.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, just go ahead and ignore this email.</p>

<p>And don't worry, your password won't change until you create a new one.</p>

<p>Thanks,</p>

<p>Your friends at MemryBook</p>

<p>P.S. We want your experience with Memrybook to be it's best. We make updates and improvements based on your feedback and input. So if you have any thoughts for us, just click reply and let us know. We read every email top to bottom</p>

